<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate, proxy-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
    Header set X-UA-Compatible "IE=edge"
    Header set X-Content-Type-Options "nosniff"
</IfModule>
